@import 'variables.scss';
@import "maps.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

@font-face {
  font-family: "varela-round";
  src: url('./fonts/VarelaRound-Regular.ttf');
}

@font-face {
  font-family: "roboto-light";
  src: url('./fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: "robotomono-light";
  src: url('./fonts/RobotoMono-Light.ttf');
}

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  scroll-behavior: smooth;
}

.fullscreen {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#gradient-canvas {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  --gradient-color-1: #fd4b15; 
  --gradient-color-2: #1e0002; 
  --gradient-color-3: #1e0002;  
  --gradient-color-4: $primary;
  filter: opacity(50%)
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}

.main-text {
  h1 {
    color: $white;
    font-family: "varela-round";
    // filter: opacity(80%);
  }

  h2 {
    color: $primary;
    font-family: "roboto-light";
    // filter: opacity(60%);
    
    @media screen and (max-width: 420px) {
      font-size: calc(1.2rem + .6vw);
    }
  }

  h3 {
    color: $white;
    font-family: "varela-round";
  }

  h4 {
    color: #626262;
    font-family: "roboto-light";
    
    @media screen and (max-width: 420px) {
      font-size: calc(1rem + .3vw);
    }

  }

  width: 100%;
  padding: 0 20px;

  @media screen and (min-width: 1024px) {
    width: 70%;
  }

  @media screen and (min-width: 1440px) {
    width: 50%;
  }
}

.header {
  position: fixed;
  padding: 8px 20px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  width: 100%;
  border-bottom: #1e0002 1px solid;

  @media screen and (min-width: 1024px) {
    padding: 8px 50px;
  }
  

  .logo {
    color: $primary;
    font-family: "varela-round";

    h2 {
      margin: 0;
      font-family: "varela-round";
    }
  }
}

.social {
  height: 32px;
  width: 32px;

  svg {
    fill: $white;
    cursor: pointer;

    &:hover {
      fill: $primary;
    }
  }
  
}

.overlay {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 5;
  background-image: url('./images/binary-overlay.png');
  background-repeat: repeat;
  height: calc(100vh - 60px);
  width: 100vw;
}

.scroll-down {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 24px;
  z-index: 7;

  svg {
    fill: $white;
    cursor: pointer;

    &:hover {
      fill: $primary;
    }
  }
}

#about, #contact {
  background-color: #1e0002;
}

.contact-form {
  width: 100%;
  padding: 0 20px;

  @media screen and (min-width: 764px) {
    width: 60%;
    padding: 0;
  }

  @media screen and (min-width: 1024px) {
    width: 40%;
    padding: 0;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $white;
    background-color: #000;
    background-clip: padding-box;
    border: 1px solid $primary;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out;
  }
}

form .btn-sm {
  border-radius: 0;

  &:hover {
    background-color: #000;
    color: $primary;
  }
}

.icon-group a {
  text-decoration: none;
}

.tech-icon {
  display: inline-block;
  margin: 8px;

  svg {
    height: 40px;
    width: 40px;

    @media screen and (max-width: 420px) {
      height: 32px;
      width: 32px;
    }
  }
}

a {
  cursor: pointer;
}